<!DOCTYPE html>
<html>
<head>
    <title>Upload Erfolgreich</title>
</head>
<body>
    <p>{{.Message}}</p>
    <!-- Anzeigen des Links zum Bild, um es zu betrachten -->
    <p><a href="/view/{{.Filename}}" target="_blank">Ihr Bild anzeigen</a></p>
    <!-- Eingabefeld mit der URL des Bildes -->
    <input type="text" value="https://pick.brothertec.eu/view/{{.Filename}}" id="imageURL" readonly>
    <!-- Button, um die URL zu kopieren -->
    <button id="copyButton">URL kopieren</button>
    <p><a href="/upload">Zurück zum Upload</a></p>

    <script src="/static/js/script.js" nonce="{{.Nonce}}"></script>

    <script nonce="{{.Nonce}}">
        // Rufen Sie hier Ihre Funktion auf
        kopiereURL();
    </script>
</body>
</html>
